@using Identity_Assignment.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    @Html.EditorForModel();
    @Html.Hidden("returnUrl", (string)ViewBag.RedirectUrl);
    <input type="submit" value="Login" />
}

@Html.ActionLink("Register", "Register")